:root {
  --background-color: 255, 255, 255;
  --text-color: rgb(24,24,24);
  --main-color: rgb(240,0,255);
  --secondary-color: rgb(173,90,255);
  --error-color: rgb(255,39,65);

  --valid-color:rgb(155,54,255);

  --normal-font-family: "Didact Gothic", sans-serif;
  --heading-font-family: "MuseoModerno", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0, 0, 0;
    --text-color: rgb(255,252,252);
    --main-color: rgb(54,46,46);
    --secondary-color: rgb(255,94,54);
    --error-color: rgb(255,39,65);

    --valid-color: rgba(255, 255, 0, 0.7);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--normal-font-family);
  background-color: rgba(var(--background-color));
  color: var(--text-color);
}

.image-container {
  position: relative;
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;
  width: min(500px, 40vw);
  height: 100vh;
}

.logo {
  width: 3.5vw;
  height: 3.5vw;
  background-color: transparent;
}

.banner {
  position: absolute;
  top: 20vh;
  font-family: var(--heading-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 3.5vw;
  background-color: rgba(var(--background-color), 0.4);
  width: 100%;
  gap: 10px;
  padding: 25px 0;
}

body {
  display: flex;
}

.main-container {
  margin: 25vh auto;
  /* font-size: min(20px, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; */
}

.form {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}



input {
  border: 1.5px solid var(--secondary-color);
  line-height: 1.5rem;
  padding: 5px;
  border-radius: 3px;
  width: 13vw;
  transition: 200ms;
}

input:valid {
  border-color: var(--valid-color);
}

input:invalid {
  border-color: var(--error-color);
}

input:focus {
  scale: 1.2;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 0.8rem;
}

button {
  margin: 1.5rem;
  padding: 10px 20px;
  font-weight: 700;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 200ms;
}

button:hover {
  background-color: var(--error-color);
  scale: 1.2;
}

.text-one {
  font-weight: bold;
  margin: 1rem;
}

.login {
  margin-left: 1rem;
}

span {
  color: var(--secondary-color);
}

.nested-container {
  margin: 0 10vw;
}

.credits {
  position: absolute;
  bottom: 10px;
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
  background: transparent;
}

a {
  background-color: transparent;
}